{% include "header.html" %}
                <!-- PAGE TITLE -->
                 <div class="eskimo-page-title" style="margin-right: -60px; padding-right: 60px; opacity: 1;">
                    <h1><span>Vanessa F. Tan Cardoso</span></h1>
                    <p class="eskimo-page-subtitle">Data science enthusiast &amp; geotechnical engineer&nbsp;</p>
                </div>
                <!-- ABOUT ME -->
                <div class="row">
                    <div class="col-12 col-lg-7 order-2 order-lg-1">
                        <p>Self-motivated and goal-oriented engineering professional committed to pursuing a long-term career change towards data analysis and data science. Offers a 13-year track record of analytical and problem solving skills. Extracts from raw engineering data to process and present to both technical and non-technical audiences of civil engineering.</p>
                        <p>Likes learning new things, social virtual reality spaces, fitness and cats.</p>
                        <div class="progress">
                            <div class="progress-bar bg-success" style="width: 100%" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"><span>Excel</span> 100%</div>
                        </div>
                         <div class="progress">
                            <div class="progress-bar bg-info" style="width: 60%" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"><span>Python</span> 60%</div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar bg-warning" style="width: 40%" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"><span>Tableau</span> 40%</div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar bg-danger" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"><span>SQL</span> 20%</div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-5 order-1 order-lg-2 mb-5 mb-lg-0">
                        <img src="{{ url_for('static', filename='/images/matchphoto.png') }}" alt="Jane Doe" class="img-fluid mx-auto d-block eskimo-img-shadow">
                    </div>
                </div>
                <!-- DIVIDER -->
                <hr />
                <!-- TABS -->
                <h2>EXPERIENCE &amp; EDUCATION</h2>
                 <!-- ACCORDION -->
                <div id="mp-accordion-1" data-children=".mp-accordion-item" class="mp-accordion">
                    <!-- ACCORDION ITEM 1 -->
                    <div class="mp-accordion-item">
                        <a class="mp-accordion-title" data-toggle="collapse" data-parent="#mp-accordion-1" href="#mp-accordion-item-1" aria-expanded="true" aria-controls="mp-accordion-item-1">2014 to Present</a>
                        <div id="mp-accordion-item-1" class="collapse show" role="tabpanel">
                            <div class="mp-accordion-content">
                                <h5>Geotechnical Engineer</h5>
                                Verify test and field data and derive technical reports and analyses for contractors and clients involved in both private construction and major infrastructure projects&nbsp;<span style="font-size: 1rem;">Tools used are Excel, Liquefy Pro, All Pile and Math CAD.</span></div>
                        </div>
                    </div>
                    <!-- ACCORDION ITEM 2 -->
                    <div class="mp-accordion-item">
                        <a class="mp-accordion-title" data-toggle="collapse" data-parent="#mp-accordion-1" href="#mp-accordion-item-2" aria-expanded="true" aria-controls="mp-accordion-item-2">2013 - 2014</a>
                        <div id="mp-accordion-item-2" class="collapse show" role="tabpanel" style="">
                            <div class="mp-accordion-content">
                                <h5>Geotechnical Engineer - Bauer Foundations Philippines Inc.</h5>
                                Developed spreadsheets and calculation reports to aid BFPI foundation design</div>
                        </div>
                    </div>
                    <!-- ACCORDION ITEM 3 -->
                    <div class="mp-accordion-item">
                        <a class="mp-accordion-title" data-toggle="collapse" data-parent="#mp-accordion-1" href="#mp-accordion-item-3" aria-expanded="true" aria-controls="mp-accordion-item-3">2012 - 2013</a>
                        <div id="mp-accordion-item-3" class="collapse show" role="tabpanel" style="">
                            <div class="mp-accordion-content">
                                <h5>Design Engineer - Fluor Daniel Philippines Incorporated</h5>
                                Checked client-supplied data and peer calculations, and developed spreadsheet for geotechnical calculations</div>
                        </div>
                    </div>
                    <!-- ACCORDION ITEM 4 -->
                    <div class="mp-accordion-item">
                        <a class="mp-accordion-title" data-toggle="collapse" data-parent="#mp-accordion-1" href="#mp-accordion-item-4" aria-expanded="true" aria-controls="mp-accordion-item-4">2009 - 2011</a>
                        <div id="mp-accordion-item-4" class="collapse show" role="tabpanel" style="">
                            <div class="mp-accordion-content">
                                <h5>Chiyoda Philippines Corporation</h5>Produced and checked design calculations for oil and gas plants</div>
                        </div>
                    </div>
                </div>
                <!-- DIVIDER -->
                <hr>
                <h2>PORTFOLIO</h2>
                <p>They say the best way to learn is by doing. While I strongly agree mentorship also plays a huge role, this is what I can do without guidance:</p>
                <p>Work in Progress</p>
                <!-- IMAGE GALLERY -->
                <div class="eskimo-masonry-grid eskimo-gallery">
                    <div class="eskimo-three-columns" data-columns>
                        <!-- GALLERY ITEM 1-->
                        <div class="eskimo-gallery-item">
                            <a href="#" data-featherlight="#" class="eskimo-lightbox">
                                <img src="#" alt="" />
                            </a>
                        </div>
                    </div>
                </div>
                <hr />
            </div>
        </main>
{% include "footer.html" %}
</body>
</html>